#backgrad {
  background: linear-gradient(75deg, #1a2c79 10%, #e87505) !important;
  width: 100%;
  height: 300px;
}

#text-marg {
  margin-top: 5rem;
}

.lead {
  margin-top: 2rem;
}

#btnmarg {
  margin-top: 2rem;
}

#border-button {
  border: 0.5px solid white;
}
